/.idea/
/phonebook-backend/node_modules/
/notes-backend/node_modules/
/notes-backend/.env
/phonebook-backend/.env
/phonebook-backend/.dockerignore
/notes-backend/.dockerignore
/bloglist/.env
/.project
/apicalls.rest
